<header> 
  
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">       
         <div menu [menuData]="menuData">           
            <ul class="nav navbar-nav navbar-right">
                <li><a linkTo="/">Logout</a></li>
            </ul>          
        </div>
      </div>
    </nav>
</header>
<main>
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!--<img src="/img/angular.png">-->

  <route-view></route-view>
</main>
<footer>
  <span>Webpack Angular 2 Starter</span>
</footer>
